{% extends 'base.html' %}
{% block title %}Log In | Private Diary{% endblock %}
{% block active_login %}active{% endblock %}


{% block contents %}
<div id="login-contents">
    <div class="form-container">
        <h1 class="form-title">Log In</h1>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token%}
            <div class="form-box">{{ form.login }}</div>
            <div class="form-box">{{ form.password }}</div>
            <div class="form-text">ログインしたままにする{{ form.remember }}</div>
    <!--                {{ form.as_p }}-->
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button class="btn btn-primary" type="submit">ログイン</button>
            <p id="login_message"><a class="button secondary Action" href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
        </form>
    </div>
</div>
{% endblock %}