body, #wrapper{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}


footer{
  margin-top: auto;
}

.side {
    margin-top: 5rem;
    width: 25%;
}

.side-list {
    width: 100%;
    height: 55%;
    padding-top: 2em;
}

input#id_person {
  width: 85px;
}

input#id_kids {
  width: 85px;
}


.my-div-style {
  margin-top: 5rem;
}

.room-list-content {
  margin-top: 5rem;
  width: 90%;
}


.font-weight-bold:hover{
	color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}

.room-status{
	border-radius: 8px;
	margin: 0 0.5em;
	background-color: beige;
	color: chocolate;
}

.form-box{
  border: none !important; /*枠線を消す*/
  border-radius: 4px; /*外角の丸み*/
  border: 1px solid #ddd; /*枠線*/
  margin: 20px; /*外余白*/
  height: 29px; /*縦幅*/
}

/*フォーム内*/
.form-title{
  color: #808080; /*文字色*/
  margin: 10px; /*外余白*/
}

.form-container {
  background: white;
  padding: 20px; /*内側余白*/
  margin: auto; /*中央揃え*/
  margin-top: 10px; /*上部余白*/
  width: 400px; /*横幅*/
  border-radius: 4px; /*外角の丸み*/
  border: 1px solid #ddd; /*枠線*/
  text-align: center; /*内部の要素を中央ぞろえ*/
}

#login-contents {
    position: absolute;
    top: 9em;
    width: 100%;
}

.form-text {
  color: #808080; /*文字色*/
}

input.btn1 {
    margin-top: 16px;
    width: 112px;
    height: 41px;
    text-align: center;
    background-color: cornsilk;
}

input#id_login {
    width: 100% !important;
    text-align: center;
}

input#id_password {
    width: 100% !important;
    text-align: center;
}

div.form-text {
    margin: 1em;

}

p#login_message {
    margin-top: 1.5em;
}


h1#house-h1 {
    margin-top: 2em;
}


.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}

.image-wrap img {
    height: 300px;
}

.house-img {
    width: 100%;
}

#room-list-frame {
    display: flex;
    background-color: floralwhite;
}

#room-list-main {
    width: 100%;
    background-color: aliceblue;
}

#room-list-img-fram {
    height: 100px;
    width: 16%;
}

#room-list-main-img {
    width: 100%;
    height: 100%;
}

#room-list-content-main {
    background-color: powderblue;
    display: flex;
}

#room-list-text {
    background-color: aliceblue;
    display: flex;
    width: 100%;
    margin: 0.1em 0.1em;
}

#room-list-title {
    display: flex;
    margin-bottom: 0.5em;
}

#room-list-title-a {
    width: 20em;
    padding-left: 1em;
}

#side-list-item {
    position: relative;
    left: 2em;
}

input#house-button {
    border: none;
    background: transparent;
    color: red;
    margin-bottom: 1em;
}

#base-home-img {
    position: fixed;
    top: 5px;
    left: 46px;
}
