body, #wrapper{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}


footer{
  margin-top: auto;
}

.side {
    margin-top: 5rem;
    width: 25%;
}

.side-list {
    width: 100%;
    height: 55%;
    padding-top: 2em;
}


.my-div-style {
  margin-top: 5rem;
}

.font-weight-bold:hover{
	color: #FF0000;
	font-size: 20px;
	font-weight: bold;
}

.form-box{
  border: none !important; /*枠線を消す*/
  border-radius: 4px; /*外角の丸み*/
  border: 1px solid #ddd; /*枠線*/
  margin: 20px; /*外余白*/
  height: 29px; /*縦幅*/
}

/*フォーム内*/
.form-title{
  color: #808080; /*文字色*/
  margin: 10px; /*外余白*/
}

.form-container {
  background: white;
  padding: 20px; /*内側余白*/
  margin: auto; /*中央揃え*/
  margin-top: 10px; /*上部余白*/
  border-radius: 4px; /*外角の丸み*/
  text-align: center; /*内部の要素を中央ぞろえ*/
}

@media (max-width:524px) {
    width: 100%; /*横幅*/
}

@media (min-width:525px) {
.form-container {
  border: 1px solid #ddd; /*枠線*/
  width: 400px; /*横幅*/
}
}

#login-contents {
    position: absolute;
    top: 9em;
    width: 100%;
}

.form-text {
  color: #808080; /*文字色*/
}

input.btn1 {
    margin-top: 16px;
    width: 112px;
    height: 41px;
    text-align: center;
    background-color: cornsilk;
}

input#id_login {
    width: 90%!important;
    text-align: center;
    margin: 10px 5px !important;
}

input#id_password {
    width: 90%!important;
    text-align: center;
    margin: 10px 5px !important;
}

div.form-text {
    margin: 32px 5px;

}

p#login_message {
    margin-top: 1.5em;
}


h1#house-h1 {
    margin-top: 2em;
}


.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}

.image-wrap img {
    height: 300px;
}

.house-img {
    width: 100%;
}

#room-list-frame {
    display: flex;
    background-color: floralwhite;
}

input#house-button {
    border: none;
    background: transparent;
    color: red;
    margin-bottom: 1em;
}

#base-home-img {
    position: fixed;
    top: 10px;
    left: 46px;
    width: 200px;
}

@media (max-width:798px) {
#base-home-img {
    width: 169px !important;
    top: 16px !important;
    left: 25px !important;
}
}

.my-point {
    cursor : pointer;
}

.house-img-fram {
    width: 500px;
    margin: 0 34px;
}

.house-img-fram-in {
    background-color: ghostwhite;
    padding: 19px;
}

.inquity-btn {
    text-align: center;
    margin: 31px 0;
}

.my-btn {
    width: 131px;
    height: 41px;
}