{% extends 'base.html' %}
{% load static %}

{% block title %}ホテル一覧{% endblock %}
{% block active_diary_list%}active{% endblock %}

{% block contents %}
  <div class="text-center my-5">
    <div class="mb-5">
      <h1 id="house-h1">ホテル一覧</h1>
    </div>
    <div class="row">
      {% for house in house_data %}
      <div class="col-lg-3 col-md-6 mb-5 house-img-fram">
        <form method="get" action="{% url 'hotel:select_create' house.pk %}">
            {% csrf_token %}
            <input type="hidden" name="house_number" value={{ house.id }}>
<!--            <a href="{% url 'hotel:room_list' %}" onclick="document.a_form.submit();">{{ house.house_name }}</a>-->
            <input id="house-button" type="submit" value={{ house.house_name }}>
        </form>
        <div class="card img-thumbnail mb-3 house-img-fram-in">
            <div class="image-wrap">
                <img class="house-img" src="{{ house.image.url }}">
            </div>
            <div class="card-body text-center px-2 py-3">
              <p>{{ house.address }}</p>
            </div>
        </div>
      </div>
      {% empty %}
      <p>利用できるホテルがありません</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
