{% extends 'base.html' %}
{% load static %}
{% block title %}room_list{% endblock %}
{% block active_diary_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/hotel/reserve_confirmation.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div>
                    <h1>予約</h1>
                </div>
                <div class="main-content">
                    <form method="post" action="{% url 'hotel:reserve_create' %}">
                        {% csrf_token %}
                        <input type="hidden" name="room_number" value="{{ room_number }}">
                        <div class="row">
                            <div class="col-3">
                                <strong>代表者名</strong>
                            </div>
                            <div class="col-4">
                                <input type="text" name="namae">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <strong>朝食チケットの購入</strong>
                            </div>
                            <div class="col-4">
                                <button type="button" onClick="window.open('https://www.jwoashop.jp/index.php?mode=logout','_blank')">購入ページへ</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <strong>客室名</strong>
                            </div>
                            <div class="col-4">
                                {{ room_name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <strong>室番</strong>
                            </div>
                            <div class="col-4">
                                {{ room_number }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <strong>金額</strong>
                            </div>
                            <div class="col-4">
                                4,0000 円
                            </div>
                        </div>

                        <div class="div-btn">
                            <button class="btn-flat" type="submit">予約</button>
                        </div>
                    </form>
                    <button class="return-btn" onclick="location.href='{{request.META.HTTP_REFERER}}'"><span>一覧へ戻る</span></button>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
