{% extends 'base.html' %}
{% load static %}

{% block title %}ホテル一覧{% endblock %}
{% block active_diary_list%}active{% endblock %}


{% block head %}
<link href="{% static 'css/hotel/room-list.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            {% include 'room_list_modal.html' %}
            <div class="room-list-box_search">
                <form method="get" action="{% url 'hotel:room_list' %}">
                    {% csrf_token %}
                    <ui class="layout_search">
                        <li class="serch-item">
                            <p>チェックイン日</p>
                            <span>
                               <input type="date">
                            </span>
                        </li>
                        <li class="serch-item">
                            <p>客室</p>
                            <span>
                                {{ form.room }}
                            </span>
                        </li>
                        <li class="serch-item">
                            <p>宿泊数</p>
                            <span>
                                {{ form.stays }}
                            </span>
                        </li>
                        <li class="serch-item">
                            <span>
                                <a class="js-modal-open my-point" href="">詳細選択<img class="serch-item-ico" src="{% static 'assets/zoom.gif' %}" alt="次へ"></a>
                            </span>
                        </li>
                        <li class="serch-item">
                            <button class= "btn room-list-search-btn" type="submit">検索する<img src="{% static 'assets/serch_ico.png' %}" width="20px" height="20px"></button>
                        </li>
                    </ui>
                </form>



            </div>
            <div class="col-lg-8 col-md-10 mx-auto">
<!--                <div class="clearfix">-->
<!--                     <a class="btn btn-primary float-right" href="{% url 'diary:diary_create' %}">新規作成</a>-->
<!--                </div>-->
                {% for room in object_list %}
                    <div class="post-preview">
                        <a href="{{ house.image.url }}">
                            <div>
                                <p>{{ room.room_name }}</p>
                                <input type="checkbox" name="tags" id="id_tags_0">
                                <a>喫煙</a>
                                {{ form.birthday }}
                                <span class="label label-tag">{{ room.in_date }}</span>
<!--                                <span class="label label-tag">禁煙ルーム</span>-->
                                <div>
                                    <img class="img-fluid rounded-circle" src="{{ room.image.url }}" width="135px" alt="" />
                                    {{ diary.content }}
                                </div>
                            </div>


<!--                            <h2 class="post-title">-->
<!--                                {{ diary.title }}-->
<!--                            </h2>-->
<!--                            <h3 class="post-subtitle">-->
<!--                            {{ diary.content|truncatechars:20 }}-->
<!--                            </h3>-->
                        </a>
<!--                        <p class="post-meta">{{ diary.created_at }}</p>-->
                    </div>
                    <hr>
                {% empty %}
                    <p>部屋がありません</p>
                {% endfor %}

                <!--ページネーション処理-->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true"> &laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"> <a class="page-link" href="#">{{page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }} </a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true"> &raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
