{% extends 'base.html' %}
{% load static %}

{% block title %}ホテル一覧{% endblock %}
{% block active_diary_list%}active{% endblock %}

{% block contents %}
  <div id="room-list-frame">
    <div class="side">
        <div class="side-list">
            <div id="side-list-item">
                <span>チェックイン日</span>
                <p>{{ form.birthday }}</p>
                <span></span>チェックアウト日
                <p>{{ form.birthday }}</p>
                <span>客室</span>
                <p>{{ form.room }}</p>
                <span>大人</span>
                <p>{{ form.person }}</p>
                <span>子供</span>
                <p>{{ form.kids }}</p>
                <input type="button" class= "btn1" value="空室を検索">
            </div>
        </div>
     </div>
    <div id="room-list-main">
        <div class="room-list-content">
            <div>
                {% for room in object_list %}
                    <div class="post-preview">
                        <a href="{{ house.image.url }}">
                            <div>
                                <div id="room-list-title">
                                    <a id="room-list-title-a" href="{% url 'hotel:room' room.pk %}">{{ room.room_name }}</a>
                                    {% if room.smoking %}
                                        <span class="room-status" value="{{ room.smoking }}"><strong>喫煙</strong></span>
                                    {% endif %}
                                    <span class="room-status" value="{{ room.smoking }}"><strong>コーナー</strong></span>
                                    <span class="room-status" value="{{ room.smoking }}"><strong>洋室</strong></span>
                                    <span class="room-status" value="{{ room.smoking }}"><strong>和室</strong></span>
                                    <span class="room-status" value="{{ room.smoking }}"><strong>露天風呂</strong></span>
                                </div>
                                <div id="room-list-content-main">
                                    <div id="room-list-img-fram">
                                        <img id="room-list-main-img" class="rounded-circle" src="{{ room.image.url }}" alt="" />
                                    </div>
                                    <div id="room-list-text">これは、テスト説明です。あああああああああああ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <hr>
                {% empty %}
                    <p>部屋がありません</p>
                {% endfor %}

                <!--ページネーション処理-->
                {% if is_paginated %}
                    <ul class="pagination">
                        <!-- 前ページへのリンク -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true"> &laquo;</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- ページ数表示 -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="page-item active"> <a class="page-link" href="#">{{page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }} </a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- 次ページへのリンク -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                    <span aria-hidden="true"> &raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

  </div>
{% endblock %}
