
.page-bar > span {
    padding: 7px;
    font-size: 1.2em;
}

.page-coler {
    border-bottom: solid 4px coral;
    color: #ee0979;
}

a {
    text-decoration: none !important;
    color: currentColor;
}

.my_container {
    margin-top: 33px;
}

h1 {
    border-top: solid 2px;
    padding: 14px 0;
    border-top-color: blanchedalmond;
}