.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
   width:94%;
    margin:0 auto;
}

.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}

h2,p {
    text-align:center;
    padding:20px;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

div#room-slider{
    margin: 30px 0 0 0;
    width: 440px;
}

@media (max-width:986px) {
    div#room-slider{
        max-width: 587px;
        margin: auto;
        width: 100% !important;
    }
}

@media (min-width:987px) and (max-width:1081px) {
    div#room-slider{
        margin: auto;
        width: 502px !important;
    }
}

.room-detail > a {
    margin-bottom: 10px;
}

div#room-main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

@media (max-width:1081px) {
    div#room-main {
        width: 95% !important;
    }
}

@media (min-width:1082px) {
    div#room-main {
        display: flex;
    }
}

@media (min-width:1082px) {
    div.room-detail {
        margin-left: 6em;
    }
}

button.room-btn {
    width: 112px;
    height: 41px;
    background-color: lightyellow;
    margin-bottom: 2em;
}

.room-detail-table {
    margin-top: 54px;
}

@media (max-width:1081px) {
    .room-detail-table > table {
        width: 100%%;
        margin: auto;
        max-width: 500px;
    }
}

@media (min-width: 1082px) {
.room-detail-table {
    width: 420px;
}
}

.room-detail-table th {
    padding: 5px 0;
    text-align: left;
    width: 80%;
}

.room-detail-table td {
    text-align: left;
}

@media (min-width: 1082px) {
.room-detail-table td {
    padding: 5px 40px;
}
}

#room-reserve-text {
    text-align: center;
    margin: 30px 0 0 0;
}

#room-reserve-btn {
    width: 157px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
}

@media (max-width:1081px) {
    #room-reserve-btn {
        display: none;
    }
}

#room-reserve-btn:hover {
    color: #fff;
    background: dimgrey;
}

#room-reserve-btn2 {
    width: 157px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    display: block;
    margin: auto;
    margin-top: 49px;
}

@media (min-width:1082px) {
    #room-reserve-btn2 {
        display: none;
    }
}

#room-description {
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (max-width:1081px) {
#room-description {
    max-width: 516px;
}
}

#room-checkin-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (max-width:1081px) {
#room-checkin-table {
    max-width: 516px;
}
}

#room-checkin-table > table {
    width: 100%;
    margin-top: 49px;
}

#room-checkin-table > table th {
    width: 40%;
    background-color: antiquewhite;
    padding: 10px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}

#room-checkin-table > table td {
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}

#room-return-btn {
    margin: 47px;
    align-items: center;
    margin: 47px 5px;
    padding: 1em 2em;
    width: 200px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(90deg, rgb(226, 207, 255), rgb(251, 253, 191));
    border-radius: 50vh;
    transition: 0.3s;
}

#room-return-btn:hover {
    text-decoration: none;
    background-image: linear-gradient(-170deg, #659de6, #5abab8);
}

.my-div-style {
    margin-top: 7rem !important;
}